* {
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
}

section {
	padding: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	border: 1px solid #000;
}

h1, h2, p, textarea {
	font-family: 'Arial', sans-serif;
}

h1 {
	font-size: 4em;
}

/*STYLES FOR INITIAL CARD*/
#initial, .card {
	margin: 1em;
	background-color: #ccc;
	width: 25%;
	min-height: 20em;
	text-align: center;
}

textarea#text-input {
	height: 10em;
	font-size: 1em;
}

button {
	font-family: 'Arial', sans-serif;
	font-size: 2em;
	margin: 8px 2px;
	border: 2px solid yellow;
}

button:hover {
	opacity: 0.7;
}

button:active {
	border: 5px solid black;
}

/*STYLES FOR GENERATED CARDS*/
button.delete-button {
	border-color: red;
}


